<h2>Utilidad de búsqueda</h2>
<div class="uk-container uk-width-1-1">
	<form class="searchDestinyForm" action='{{url_for("seachTrips")}}' method="POST">
		<input type="text" name="searchQuery" class="uk-input uk-form-width-large" placeholder="¿A dónde te apetece ir?">
		<button type="submit" class="uk-button" ><i class="fa fa-search"></i></button>
	</form>
</div>
