<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Download link</title>
</head>
<body>
	<form action="{{url_for('downloadLinks')}}" method="POST">
		<div>
			<label>
				Url a buscar enlaces
			</label>
			<input type="text" name="url" placeholder="http://pagina.com" style="width=60%;">
			<input type="submit" value="Buscar">
		</div>
	</form>
	{% if context.request %}
		{% for r in context.request %}
			<p>{{r}}</p>
		{% endfor %}
	{% endif %}
</body>
</html>